$navbar-color: black; /*#005686*/
$border-color: #96CC39; /*#e0e0e0*/
$liked-color: #2a6496;
$bg-color: powderblue; /*#f0f0f0;*/
$light-text-color: blue; /*#808080;*/
$default-font-size: 1.5rem;
$small-font-size: 1.25rem;